
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Define as configuraçoes em todos os elementos*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

/*criando variaveis*/
:root{
    --cor01: #ff1818;
    --cor02: #2a26e6;
    --cor03: #65a300;
    --cor04: #e9da0b;
}

/*formatando a tag Master pelo id geral*/
#geral{
    margin: 20px;

}

/*formatando o cabeçalho*/
#cabecalho{

    display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
height: 100px;
}

/*configurando menu config*/
#menu ul{
    display: flex;
    gap: 27px;
    list-style: disc;
}

#menu ul img{
    width: 25px;
    height: 25px;
}

/*FORMATANDO SECTION pesquisa*/
#pesquisa{
    height: 200px;
    background-color: var(--cor02);
    display: flex;
    justify-content: center;
    align-items: center;

}

#pesquisa input{
    width: 600px;
    height: 80;
    background-color: aliceblue;
    border-radius: 9px;
    padding: 10px;
    color: black;

}

#pesquisa input ::placeholder{
    font-size: 1.3em;
    font-style: italic;
    color: #2a26e6;
}

/*formatando os cards*/
#cards{
    display: grid;
    grid-template-columns: repeat((auto-fit), minmax(250px, 1fr));
    gap: 20px;
}

.card{
    width: 250px;
    min-height: 450px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cor02);

}

.card img{
    width: 150px;
    height: 200px;
    margin: 10px 0px;
}

.card p{
    font-size: 1.2em;
}